{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
  <div class="tc-l pv3 ph3 ph4-ns">
    <h1 class="f2 f-subheadline-l fw2 light-black mb0 lh-title">
      {{ .Title | default .Site.Title }}
    </h1>
    {{ with .Params.description }}
      <h2 class="fw1 f5 f3-l silver-80 measure-wide-l center lh-copy mt3 mb4">
        {{ . }}
      </h2>
    {{ end }}
  </div>
  <article class="pa3 pa4-ns nested-copy-line-height">
    <!-- <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section> -->
    <aside class="mt3">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 mb3 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
